# Python cache files
__pycache__/
*.pyc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/


# MacOS system files
.DS_Store

#Data folders: No contents, but keep the folders for organization
data/raw/*
data/processed/*
experiments/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!experiments/.gitkeep

#Data folders: Completely Local, not shared across machines
vendor/
reports/

# model weights
*.pt
*.pth
*.ckpt

#other
generation_log.txt